.formContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .registrationForm {
    width: 33.33%;
    background-color: #e0e0e0;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .registrationForm h2 {
    text-align: center;
  }
  
  .registrationForm label {
    display: block;
    margin: 10px 0;
  }
  
  .registrationForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .registrationForm button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .registrationForm button:hover {
    background-color: #004080;
  }

  .mainContent {
    display: flex;
    height: 90vh;
  }