.mainContent {
    display: flex;
    height: 90vh;
    background: url('/images/H0708_01-Stars-Wallpaper-by-LILIPINSO-swatch.jpg') center/cover no-repeat;
  }

  .largeText {
    font-size: 60px;
}

  .leftContainer,
  .rightContainer {
    width: 70%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
  }
  
  .rightContainer {
    width: 30%;
    background-color: #67a5d1;
  }

  .leftComponent {
    width: 100%;
    padding: 20px;
  }
  
  .buttonContainer {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
}
  
.searchButton,
.shareButton {
    background-color: #98098c;
    color: white;
    border: none;
    padding: 50px 150px;
    margin-top: 10px;
    margin-right: 100px;
    cursor: pointer;
    min-width: 150px;
    min-height: 40px;
    font-size: 30px; /* Adjust the font size to your preference */
}

  .rightComponent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rightImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }