body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f0f0; /* Background color for the space around the content */
}

.container {
  margin: 1vh; /* 10% space from every side */
  background-color: white;
  border-radius: 15px; /* Adjust the radius to your preference */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Shadow effect */
  overflow: hidden; /* Hide overflowing content */
}
  
  button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input {
    padding: 5px;
    margin-right: 5px;
  }
  
  p {
    font-size: 1.2rem;
  }
  
